/*CSS tags*/ 
body {
    background-color: #BD9287;
}

section {
    margin-left: 20%;
    margin-right: 20%;
    border: 4px solid black;
    padding: 1em;
    margin-top: 7%;
    background-color: #FEEED7;
    border-radius: 15px;
    padding-bottom: 2em;
}

h1 {
    font-size: 48px;
    text-align: center;
}

p {
    width: 55%;
    border: 2px solid black;
    font-family: "Courier New", Courier, monospace; /*No rights reserved for Courier New Font*/
    white-space: pre; 
    margin-left: 22.5%;
    margin-right: 22.5%;
    padding: 4px;
    background-color: white;
}

span {
    font-size: 40px;
}

button {
    width: 10em;
}

img {
    position: fixed;
    transform: scaleX(-1);
    display: block;
    top: 50%;
    right: 35%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
}

/*CSS IDs*/
#focused {
    color:red;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}